user www-data;
worker_processes auto;
pid /run/nginx-{{ item.name }}.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

http {

    server {
            listen {{ item.nginx_listen_port }};
        }

    


	include /etc/nginx/conf.d/*.conf;
	#include /etc/nginx/sites-enabled/*;
}
